<html>

<head style="width: 100%; height: 100%;">
    <link rel="stylesheet" href="https://p.trellocdn.com/power-up.css" />
    <style>
        select {
            height: 30px;
        }
    </style>
    <script src="https://p.trellocdn.com/power-up.js"></script>
</head>

<body style="width: 100%; height: 100%; margin: 10px;">
    <div id="estimate">
        <form id="estimateForm">
            <label for="Board">Board to mirror in:</label>
            <select id="boardDropdown" name="boardSelect" style="width: 150px;"></select>
            <label for="list" name="listSelect">List on board to mirror in:</label>
            <select id="listDropdown" name="listSelect" style="width: 150px;"></select>
            <button id="saveButton" type="submit" class="mod-primary">Save</button>
        </form>

        <script type="text/javascript" src="static/js/save.js" crossorigin="anonymous"></script>

        <h3>This card is being synced to:</h3>
        <table id="entriesTable" style="border: 1; width: 100%;">
            <thead>
                <tr>
                    <th>Board</th>
                    <th>List</th>
                </tr>
            </thead>
            <tbody id="entriesTableBody">
                <!-- Entries will be dynamically added here -->
                 <tr>
                    <td></td>
                    <td></td>
                 </tr>
            </tbody>
        </table>
        <form id="Remove">
            <button id= "removeButton" type="submit" class="mod-danger">Remove this card from sync</button>
        </form>
    </div>
</body>

</html>